html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
  color: $white2;
  @include font("Raleway", 400);
  background: $black;

  &.active-body {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white2;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

.title {
  font-family: "Oxanium";
  font-weight: 700;
  font-size: 64px;
  line-height: 130px;
  color: $white2;
  position: relative;
  margin-bottom: 60px;
  
  &::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-40%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }

  span{
    text-align: center;
    position: relative;
    z-index: 3;
  }
  &--purple{
    &::after{
      background: $purple;
    }
  }

  &--red{
    &::after{
      background: $red;
    }
  }

  @media screen and (max-width: 800px) {
    font-size: 34px;
  }

  @media screen and (max-width: 600px) {
   font-size: 30px;

   &::after{
     transform: translateY(-50%) translateX(-40%);
    width: 84px;
    height: 84px;
  }
 }
}

.title__wrapper {
  display: flex;
  justify-content: center;
}

.swiper{
  padding-top: 100px !important;
  overflow: visible !important;

  @media screen and (max-width: 600px) {
    padding-top: 0 !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}